/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
#syntax {
  position:absolute; /*OK to remove but replace with position:fixed;*/
  z-index: -1;
}
#write {
  background:transparent;
  border:none;
  resize: none;
  outline:none;
  color:transparent;
}
