/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
.ams-syntax {
  position:absolute; /*OK to remove but replace with position:fixed;*/
  z-index: -1;
}
.ams-write {
  background:transparent;
  border:none;
  resize: none;
  outline:none;
  color:transparent;
}
.ams-syntax, .ams-write {
  padding:0;
  margin:0;
}
